body {
  width: 50%;
  margin: 0 auto;
}

header h1{
  text-align: center;
  font-size: 70px;
  color: teal;
  font-weight: 400;
}

input {
  font-size: 20px;
  color: #2c3e50;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 2px solid teal;
}
